<div style="text-align:center">
  <h1>
    Welcome to play with Counters!
  </h1>
</div>
<!-- счетчик без указания каких либо INPUT и OUTPUT
Counter with defaults value. Not work with Store, coz... It is desteny -->
<my-counter></my-counter>

<!-- привяжем этот счетчик к родителю  через метод handlerChange1
  Let's bind this counter and his changes to parent by (changeValue)="handlerChange1($event)
-->
<my-counter #counter1 [count]="counter1_val" [min]=-5 [max]=5 (changeValue)="handlerChange1($event)"></my-counter>
<!-- for work with store 
<my-counter [store_name]="counter1" [store_action]="COUNTER1_NEW_VALUE"  [min]=-5 [max]=5></my-counter>
-->

<!-- а этот счетик привяжем через Store указав action и имя переменной в Store
 and this counter work with STORE by set properties 'store_name' and 'store_action' -->
<my-counter #counter2 store_name='counter2' store_action="COUNTER2_NEW_VALUE" min=0 default=4 max=20 step=2></my-counter>

<div>Show counters values at some other place: counter1: {{counter1_val}} counter2: {{counter2_val}}
</div>
<div>

</div>

<!-- reset by # -->
<button (click)="resetAll(counter1, counter2)">Reset All</button>

<!-- Здесь counter1.store_action не будет иметь эффекта, поскольку идентификатора у счетчика1 нет 
  поэтому значение из STORE будет задано только для счетчика 2
 Hey man. Are you sure you need for tranclate this? :) -->
<button (click)="resetAllInStore(counter1.store_action, counter2.store_action)">Reset All in Store</button>