<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to play with Counters!
  </h1>
</div>

<my-counter></my-counter>

<my-counter #counter1 [count]="counter1_val" [min]=-5 [max]=5></my-counter>

<my-counter #counter2 [count]="counter2_val" min=0 default=4 max=20 step=2></my-counter>


<div>Show counters values at some other place:
  counter1: {{counter1.count}}
  counter2: {{counter2.count}}
  </div>
<div>

</div>

<button (click)="resetAll(counter1, counter2)">Reset All</button>